/*
 * Defaults
 */
body {
  font-family: Lato;
  font-weight: 300;
}
input {
  margin-bottom: 10px;
}
/*
 * Topbar
 */
#topbar {
  background: url("../img/topbar-bg.jpg") center;
  height: 48px;
  border-bottom: 1px solid #A7B5C2;
  box-shadow: 0 -8px 20px -5px rgba(255, 255, 255, 0.29) inset, 0 10px 29px -3px rgba(255, 255, 255, 0.25) inset;
  position: fixed;
  width: 100%;
  z-index: 4;
}
#topbar > .row {
  width: 100%;
}
#topbar .title h2 {
  font-size: 23px;
  color: white;
  margin: 11px 21px;
}
#topbar .title h2 small {
  color: rgba(255, 255, 255, 0.87);
  font-size: 12px;
  padding-left: 15px;
}
#topbar .module-title {
  margin: 0 auto;
  display: block;
  text-align: center;
}
#topbar .module-title span {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
  color: white;
  margin: 9px 0;
  display: block;
}
#topbar .user > .pull-right {
  max-width: 295px;
}
#topbar .user .notification {
  height: 36px;
  margin-top: 6px;
  border-radius: 2px;
  overflow: hidden;
  width: 93px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
  float: left;
}
#topbar .user .notification .count {
  background: #10bec5;
  font-weight: 600;
  color: white;
  padding: 8px;
  float: left;
  height: 36px;
}
#topbar .user .notification .avatar {
  overflow: hidden;
  height: 36px;
}
#topbar .user .notification .avatar img {
  width: 70px;
  margin-top: -17px;
}
#topbar .user h3 {
  font-size: 18px;
  color: white;
  float: left;
  max-width: 115px;
  min-width: 70px;
  margin: 7px 0 7px 10px;
  overflow: hidden;
}
#topbar .user h3 small {
  color: rgba(255, 255, 255, 0.87);
  font-size: 10px;
  display: block;
  text-transform: uppercase;
  margin-bottom: 4px;
}
#topbar .user .options {
  float: left;
}
#topbar .user .options .dropdown > a {
  font-size: 13px;
  height: 46px;
  padding: 15px;
  transition: 0.2s;
  display: block;
  color: white;
}
#topbar .user .options .dropdown > a:hover {
  text-shadow: 0 0 19px white;
}
#topbar .user .options .dropdown-menu {
  left: auto;
  right: 0;
}
#topbar .btn-mobile-menu a {
  font-size: 21px;
  height: 46px;
  padding: 11px;
  transition: .2s;
  display: block;
  color: #fff;
}
#topbar .btn-mobile-menu a:hover {
  text-shadow: 0 0 19px white;
}
/*
 * Sidebar
 */
.sidebar {
  display: none;
  /* For mobile */
  /* For desktop */
  /* Sidebar navigation */
}
@media (max-width: 768px) {
  .sidebar .nav-sidebar {
    margin-top: 48px;
    margin-bottom: -37px !important;
    background: #202020;
  }
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 48px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    box-shadow: 1px 0 16px -4px rgba(0, 0, 0, 0.34);
    background: black;
    padding-top: 0;
  }
}
.sidebar .nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.sidebar .nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  text-transform: uppercase;
}
.sidebar .nav-sidebar > li {
  margin-bottom: 5px;
}
.sidebar .nav-sidebar > li > a {
  color: #fff;
  font-weight: 400;
  transition: 0.1s;
}
.sidebar .nav-sidebar > li:hover > a,
.sidebar .nav-sidebar > li.on > a {
  background: rgba(0, 183, 255, 0.17);
  border-left: 4px solid #007AFF;
}
.sidebar .nav-sidebar > li .sub-nav-sidebar {
  overflow: hidden;
  max-height: 0px;
  transition: 0.5s;
}
.sidebar .nav-sidebar > li {
  background: #070707;
}
.sidebar .nav-sidebar > li > a {
  border-left: 4px solid #3D4855;
}
.sidebar .nav-sidebar > li.on {
  background: #162B33;
}
.sidebar .nav-sidebar > li.on .sub-nav-sidebar {
  max-height: 200px;
}
@media (min-width: 768px) {
  .sidebar .nav-sidebar > li.active {
    background: #162B33;
  }
  .sidebar .nav-sidebar > li.active > a {
    border-left: 4px solid #007AFF;
  }
  .sidebar .nav-sidebar > li.active .sub-nav-sidebar {
    max-height: none;
  }
}
.sidebar .sub-nav-sidebar {
  background: rgba(0, 0, 0, 0.6);
}
.sidebar .sub-nav-sidebar a {
  position: relative;
  display: block;
  padding: 10px 15px;
  color: rgba(255, 255, 255, 0.82);
  transition: 0.1s;
}
.sidebar .sub-nav-sidebar a:hover {
  background: rgba(0, 214, 255, 0.6);
}
/*
 * Main content
 */
.main {
  padding: 20px;
}
@media (max-width: 768px) {
  .main {
    padding-top: 0;
  }
  .main .page-header {
    margin: 37px -40px 30px -40px !important;
  }
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin: 20px -40px 30px -40px;
  z-index: -1;
  position: relative;
  background: white;
  background: linear-gradient(to bottom, #ffffff 0%, #ededed 100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.21);
  border-bottom: 1px solid #d8d8d8;
  padding: 30px 30px 25px;
}
.main .page-header h1 {
  margin: 0;
  padding: 0;
  color: #6b6b6b;
  font-size: 26px;
}
.main .page-header h1 .glyphicon {
  font-size: 22px;
  margin-right: 10px;
}
.main .page-header h1 small {
  padding-left: 7px;
}
/*
 * Pag Provider
 */
.pag-provider .input-group {
  padding-bottom: 5px;
}
.pag-provider .saldo {
  font-size: 22px;
  font-weight: 400;
}
.pag-provider .saldo span {
  font-size: 30px;
  font-weight: 600;
  color: #64d35b;
}
/*
 * CakePHP
 */
.debugger {
  margin: 20px 0;
  background: black;
  color: #b3b3b3;
  font-family: Consolas;
  padding: 21px;
  border-radius: 6px;
  box-shadow: 0 5px 13px -4px rgba(0, 0, 0, 0.56);
  border: 1px solid #f0f0f0;
}
form {
  margin-top: 20px;
  margin-bottom: 20px;
}
form h2 {
  margin-bottom: 30px;
}
form .input {
  margin-bottom: 20px;
}
/*
 * jQuery UI
 */
.ui-datepicker {
  z-index: 4 !important;
}
